# Supabase PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres.rbgohyvmjefowkvnjmha:Gz6dnlh3920064400@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# ImgBB API Key for Image Uploads (Optional, default is embedded)
IMGBB_API_KEY="ecfd2830eec1e538465f3d1083a79b61"

# Production Environment
NODE_ENV="production"
